# Ignore files in build directory. Build them on your own system.
build/*

# Ignore AWS credentials. Set your own AWS credentials here.
aws_conf.properties

# Ignore private keys.
*.pem

# Ignore log files
*.log
